@font-face {
  font-family: Inkpen2ChordsStd;
  src: url("./fonts/Inkpen2ChordsStd.otf");
}

@font-face {
  font-family: Inkpen2MetronomeStd;
  src: url("./fonts/Inkpen2MetronomeStd.otf");
}

/* this is the normal text */
@font-face {
  font-family: Inkpen2ScriptStd;
  src: url("./fonts/Inkpen2ScriptStd.otf");
}

@font-face {
  font-family: Inkpen2SpecialStd;
  src: url("./fonts/Inkpen2SpecialStd.otf");
}

/* i think this is how we'll want to render notes, rests, clefs, and key signatures */
@font-face {
  font-family: Inkpen2Std;
  src: url("./fonts/Inkpen2Std.otf");
}

@font-face {
  font-family: Inkpen2TextStd;
  src: url("./fonts/Inkpen2TextStd.otf");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body, html {
  font-family: Inkpen2ScriptStd, system-ui, sans-serif;
  background: var(--color-0);
  height: 100%;
  overflow: hidden;
  color: var(--color-9);
  font-size: 18px;
}

body {
  display: flex;
}

:root {
  --color-9: #fafafa;
  --color-8: #f4f4f5;
  --color-7: #e5e5e6;
  --color-6: #d5d5d7;
  --color-5: #a4a4a7;
  --color-4: #747477;
  --color-3: #555558;
  --color-2: #414144;
  --color-1: #282829;
  --color-0: #131314;

  --accent: #f03c24;
}

#keypad {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 224px;
  height: 100%;
  background: var(--color-1);
  padding: 8px;
}

h2 {
  font-size: 1.25em;
  height: 32px;
  display: flex;
  align-items: center;
}

.keypad-button {
  height: 32px;
}

.keypad-button:hover {
  background: var(--color-2);
}

.keypad-button:active {
  background: var(--color-3);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

#settings-menu {
  position: fixed;
  inset: 0;
  background: var(--color-0);
  z-index: 1000;
  padding: 32px;
}

#settings-header {
  position: relative;
  display: flex;
  align-items: center;
}

#close-settings {
  position: absolute;
  right: 0;
  font-size: 1rem;
}

#close-settings:hover {
  background: var(--color-1);
}

#close-settings:active {
  background: var(--color-2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

fieldset {
  display: flex;
  gap: 8px;
  background: var(--color-1);
  padding: 16px;
  flex-wrap: wrap;
  border-radius: 20px;
}

fieldset > span {
  display: block;
  width: 100%;
}

fieldset > label {
  position: relative;
  padding: 4px 12px;
  border-radius: 4px;
  overflow: hidden;
  height: max-content;
  cursor: pointer;
  z-index: 2;
}

fieldset > label > input {
  appearance: none;
  position: absolute;
  inset: 0;
  z-index: -1;
  cursor: pointer;
}

fieldset > label > input:hover, fieldset > label:hover {
  background: var(--color-2);
}

fieldset > label > input:active, fieldset > label:active {
  background: var(--color-3);
}

fieldset > label > input:checked {
  background: var(--accent);
}
