* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body, html {
  font-family: system-ui;
  background: var(--color-0);
  height: 100%;
  overflow: hidden;
  color: var(--color-10);
}

:root {
  --color-10: #fafafa;
  --color-9: #f4f4f5;
  --color-8: #e5e5e6;
  --color-7: #d5d5d7;
  --color-6: #a4a4a7;
  --color-5: #747477;
  --color-4: #555558;
  --color-3: #414144;
  --color-2: #282829;
  --color-1: #131314;
  --color-0: #0a0a0a;
}

#keypad {
  background: var(--color-1);
  width: 224px;
  height: 100%;
  position: relative;
}

.keypad-view {
  position: absolute;
  inset: 0;
  padding: 8px;
  overflow: auto;
}

.keypad-row {
  display: flex;
  gap: 8px;
  flex-basis: 100%;
  padding: 4px 0;
  max-height: 64px;
  align-items: center;
}

.keypad-row:not(:last-child) {
  border-bottom: 1px solid var(--color-2);
}

.keypad-row > button {
  flex-basis: 100%;
}

#keypad-chords {
  display: flex;
  flex-direction: column;
}

.keypad-button {
  height: 32px;
}

.keypad-button:hover {
  background: var(--color-2);
}

.keypad-button:active {
  background: var(--color-3);
}

.keypad-notes-wrapper {
  display: flex;
  gap: 4px;
  padding: 4px 0;
  flex-wrap: wrap;
}

.keypad-notes-wrapper:first-child {
  padding-top: 0;
  border-bottom: 1px solid var(--color-2);
}

.keypad-notes-wrapper > div {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.keypad-notes-wrapper > button {
  width: calc(20% - 4px);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
